* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* style the header */
header {
    background-color:rebeccapurple;
    padding: 10px;
    text-align: center;
    font-size: 40px;
}
/* creat nav-bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li {
    float: left;
}
li a {
    display: block;
    color: cadetblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
li a:hover {
    background-color: cornsilk;
} 

#div1 {
    width: 100%;
    height: 300px;
    border: 2px solid grey;
}

/* creat three equal column the floats next to each other */
 .column {
     float: left;
     width: 33%;
     padding: 30px;
     height: 30px;
     font-size: 20px;

 }
 
/* clear floats after the column */
.row:after {
    content: "";
    padding: 10px;
    text-align: center;
}
#contant {
    padding: 40px;
    margin: 20px;
    border: 2px solid grey;
    background-color: honeydew;
}
#img-contant {
    width: 800px;
    height: 500px;
    margin-left: 19%;
    
}
#video-contant {
    width: 950px;
    height: 500px;
    margin-left: 15%;
}
footer {
  background-color: peru;
  padding: 40px;
  border: 2px solid white;
}

